@font-face {
  font-family: 'Aptos Display';
  src: url('./assets/fonts/AptosDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aptos Display' !important;
  src: url('./assets/fonts/AptosDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Aptos Display' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}